<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets async="true">
    <target name="gmail" xsi:type="Mail"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUserName="josezeta17@gmail.com"
            smtpPassword="dydlebumokpurezt"
            enableSsl="true"
            from="josezeta17@gmail.com"
            to="jose@pulse-it.cl"
            cc="nocompila@hotmail.com;pe.jose.calderon@pulse-it.cl"
            header="========================================================================="
            body="${newline} 
            Fecha：${longdate} ${newline}${newline}
            Level：${level:uppercase=true} ${newline}${newline}
            Logger：${logger} ${newline}${newline}
            Fuente：${callsite:className=true} ${newline}${newline}
            Exception：${exception:format=toString} ${newline}${newline}
            Error：${message} ${newline}${newline}"
            footer="========================================================================="
            html="true"
            encoding="UTF-8"
            addNewLines="true"
            replaceNewlineWithBrTagInHtml ="true"
            subject="Error en Sistema Recuperos：${message}"
    />

    <target xsi:type="Database"
            name="DBOracle"
            dbProvider="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess"
            connectionString="User Id=ADMSISREC;Password=desa;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=oradesa.bciseguros.cl)(PORT=1523))(CONNECT_DATA=(SERVICE_NAME=DESA11G)));"
            commandText="INSERT INTO ENTRADASLOG VALUES(1,sysdate, :nivel , :mensaje ,'LOGGER7',:callsite ,1,:exception,:siniestroId,2,'PAYLOAD','REQUEST')" >

            <parameter name="@nivel" layout="${level}"/>
            <parameter name="@mensaje" layout="${message:truncate=2000}"/>
            <parameter name="@callsite" layout="${callsite:truncate=1400}" />
            <parameter name="@exception" layout="${exception:format=toString:truncate=2000}" />
            <parameter name="@siniestroId" layout="${event-properties:SiniestroId}" />
    </target>

    <target name="jsonFile" xsi:type="File" fileName="${basedir}/logs/trace/${date:format=yyyyMM}/${date:format=yyyy-MM-dd}.json" >
      <layout xsi:type="JsonLayout" includeAllProperties="true" excludeProperties="Probabilidad">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level}" />
        <attribute name="message" layout="${message}" />
        <attribute name="eventProperties" encode="false" >
          <layout  xsi:type='JsonLayout' includeAllProperties="true"  maxRecursionLimit="2"/>
        </attribute>
      </layout>
    </target>

    <target name="errorjsonFile" xsi:type="File" fileName="${basedir}/logs/errors/${date:format=yyyyMM}/${date:format=yyyy-MM-dd}.json" >
      <layout xsi:type="JsonLayout" includeAllProperties="true" excludeProperties="Probabilidad">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=toString}" />
        <attribute name="eventProperties" encode="false" >
          <layout  xsi:type='JsonLayout' includeAllProperties="true"  maxRecursionLimit="2"/>
        </attribute>
      </layout>
    </target>

  </targets>

  <rules>
    <logger name="*" levels="Trace,Debug,Info,Warn" writeTo="jsonFile" />
    <logger name="*" levels="Error,Fatal" writeTo="errorjsonFile" />
    <logger name="*" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="DBOracle" />
    <logger name="*" levels="Fatal" writeTo="gmail" />
  </rules>
</nlog>