<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="RecuperosDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE))) " />
        <!--<dataSource alias="RecuperosDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=udboraqv01.bciseguros.cl)(PORT=1523))(CONNECT_DATA=(SERVICE_NAME=test11g))) " />-->
        <!--<dataSource alias="RecuperosDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=oradesa.bciseguros.cl)(PORT=1523))(CONNECT_DATA=(SERVICE_NAME=DESA11G))) " />-->
        <!--<dataSource alias="RecuperosDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=D11.bciseguros.cl)(PORT=1523))(CONNECT_DATA=(SERVICE_NAME=D11))) " />-->
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <!--<add name="RecuperosSqlContext" connectionString="Database=RecuperosDB;Server=carnovum-db.cr3sebuy9zkx.us-east-2.rds.amazonaws.com,1433;User=admin;Password=1Recupero1;" providerName="System.Data.SqlClient" />-->
    <!--<add name="RecuperosSqlContext" connectionString="Database=RecuperosDb;Server=localhost;Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="RecuperosOraContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=USRSISREC;Password=admsisrec.qa;Data Source=RecuperosDataSource;" />-->
    <!--<add name="RecuperosOraContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=USRSISREC;Password=desa;Data Source=RecuperosDataSource;" />-->
    <add name="RecuperosOraContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=ADMSISREC;Password=desa;Data Source=RecuperosDataSource;" />
  </connectionStrings>
  <appSettings>
    <add key="env" value="Staging" />
    <add key="App.Persistencia" value="Oracle" />
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />

    <add key="Recup02.Api.Url" value="http://localhost:64217" />
    <add key="Recup02.Api.Deshabilitado" value="true" />

    <add key="Equifax.Api.Url" value="https://www.dicom.cl:443" />
    <add key="Equifax.Api.Deshabilitado" value="false" />
    <add key="Equifax.Api.Usuario" value="USRAPPSEGUROS" />
    <add key="Equifax.Api.Contrasena" value="bciseg" />

    <add key="ViewCM.Url" value="https://www.bciseguros.cl/viewCm/lisArch2.action" />
    <add key="ViewCM.Api.Url" value="http://map.bciseguros.cl:9080/WSCM2.0/services/WsContentManagerPort?wsdl" />
    <add key="ViewCM.Api.Deshabilitado" value="true" />
    <add key="ViewCM.Api.Usuario" value="sisrecu" />
    <add key="ViewCM.Api.Contrasena" value="123pwds3sr2c5" />
    <add key="ViewCM.Api.Sistema" value="sisrecu_01" />
    <add key="ViewCM.Documentos.Agregar.Formato" value="&lt;root&gt;&lt;NumeroSiniestro&gt;{0}&lt;/NumeroSiniestro&gt;&lt;compania&gt;{1}&lt;/compania&gt;&lt;TipoRiesgo&gt;{2}&lt;/TipoRiesgo&gt;&lt;Sucursal&gt;{3}&lt;/Sucursal&gt;&lt;TipoPoliza&gt;{4}&lt;/TipoPoliza&gt;&lt;NumeroPoliza&gt;{5}&lt;/NumeroPoliza&gt;&lt;NumeroItem&gt;{6}&lt;/NumeroItem&gt;&lt;NumPatente&gt;xd2002&lt;/NumPatente&gt;&lt;RutLiquidador&gt;123456789&lt;/RutLiquidador&gt;&lt;RutCorredor&gt;123456578&lt;/RutCorredor&gt;&lt;RutProponente&gt;123456578&lt;/RutProponente&gt;&lt;Convenio&gt;1&lt;/Convenio&gt;&lt;/root&gt;" />
    <add key="ViewCM.Data.Siniestro.Formato" value="as&amp;as&amp;{0}&amp;Compania:{1};NumeroSiniestro:{2};TipoRiesgo:{3}" />
    <add key="ViewCM.Data.Poliza.Formato" value="as&amp;as&amp;{0}&amp;Compania:{1};Sucursal:{2};TipoPoliza:{3};NumeroPoliza:{4}" />

    <add key="RnvmLocal.Api.Url" value="http://wsconsultaach.bciseguros.cl" />
    <add key="RnvmLocal.Api.Deshabilitado" value="true" />
    <add key="RnvmLocal.Api.Usuario" value="99147000" />
    <add key="RnvmLocal.Api.Contrasena" value="991470" />

    <add key="Facturas.Url" value="http://recuperovh.bciseguros.cl:12105/RecuperosVehiculos" />
    <add key="OrdenReparacion.Url" value="http://recuperovh.bciseguros.cl:12105/DocRecuperoVehiculos/OrdenReparaBSC" />

    <add key="ControlAcceso.Api.Url" value="http://apicontrolacceso.desa.bciseguros.cl" />
    <add key="ControlAcceso.Api.Deshabilitado" value="true" />

    <add key="ConsultaDicom.Api.Url" value="http://wsconsultadicom.desa.bciseguros.cl" />
    <add key="ConsultaDicom.Api.Deshabilitado" value="true" />

  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>

</configuration>
