
		

		ALTER TABLE "ADMSISREC"."ETAPAS" DISABLE ALL TRIGGERS;
		DROP SEQUENCE "ADMSISREC"."SQ_ETAPAS";
		create sequence "ADMSISREC"."SQ_ETAPAS" minvalue 1 maxvalue 999999999999999999999 start with 31 increment by 1;
        
		
        INSERT INTO "ADMSISREC"."ETAPAS" ("Id","Nombre", "Eliminado") VALUES (18, N'Análisis', 0);
		INSERT INTO "ADMSISREC"."ETAPAS" ("Id","Nombre", "Eliminado") VALUES (19, N'Datos Tercero', 0);
		INSERT INTO "ADMSISREC"."ETAPAS" ("Id","Nombre", "Eliminado") VALUES (20, N'etapa 3', 1);
         
		ALTER TABLE "ADMSISREC"."ETAPAS" ENABLE ALL TRIGGERS;

		COMMIT;         

		ALTER TABLE "ADMSISREC"."ESTADOS" DISABLE ALL TRIGGERS;
		DROP SEQUENCE "ADMSISREC"."SQ_ESTADOS";
		create sequence "ADMSISREC"."SQ_ESTADOS" minvalue 1 maxvalue 999999999999999999999 start with 118 increment by 1;


		INSERT INTO "ADMSISREC"."ESTADOS" ("Id", "Nombre", "EtapaId", "Eliminado") VALUES (26, N'Análisis', 18, 0);
		INSERT INTO "ADMSISREC"."ESTADOS" ("Id", "Nombre", "EtapaId", "Eliminado") VALUES (29, N'Datos Tercero', 19, 0);
		INSERT INTO "ADMSISREC"."ESTADOS" ("Id", "Nombre", "EtapaId", "Eliminado") VALUES (32, N'estado 31', 20, 0);
		
		ALTER TABLE "ADMSISREC"."ESTADOS" ENABLE ALL TRIGGERS;

		COMMIT;         


		ALTER TABLE "ADMSISREC"."TRANSICIONES" DISABLE ALL TRIGGERS;
		DROP SEQUENCE "ADMSISREC"."SQ_TRANSICIONES";
		create sequence "ADMSISREC"."SQ_TRANSICIONES" minvalue 1 maxvalue 999999999999999999999 start with 908 increment by 1;

		INSERT INTO "ADMSISREC"."TRANSICIONES" ("Id", "EstadoOrigenId", "EstadoDestinoId") VALUES (75, 37, 40);
		INSERT INTO "ADMSISREC"."TRANSICIONES" ("Id", "EstadoOrigenId", "EstadoDestinoId") VALUES (76, 37, 38);
		INSERT INTO "ADMSISREC"."TRANSICIONES" ("Id", "EstadoOrigenId", "EstadoDestinoId") VALUES (77, 37, 42);

		ALTER TABLE "ADMSISREC"."TRANSICIONES" ENABLE ALL TRIGGERS;

		INSERT INTO "ADMSISREC"."TIPOSBITACORA" ("Id", "Nombre", "Eliminado") VALUES (1, N'Cambio de estado', 0);
		INSERT INTO "ADMSISREC"."TIPOSBITACORA" ("Id", "Nombre", "Eliminado") VALUES (2, N'Cambio de probabilidad', 0);

		INSERT INTO "ADMSISREC"."TIPOSOBSERVACION" ("Id", "Nombre", "Eliminado") VALUES (1, N'Fecha compromiso pago', 0);
		INSERT INTO "ADMSISREC"."TIPOSOBSERVACION" ("Id", "Nombre", "Eliminado") VALUES (2, N'Teléfono ocupado', 0);
		INSERT INTO "ADMSISREC"."TIPOSOBSERVACION" ("Id", "Nombre", "Eliminado") VALUES (3, N'Teléfono fuera de servicio', 0);

		
		Insert into ADMSISREC.USUARIOS ("Id","Nombres","NombreIngreso","Correo","Contrasena","Rol") values ('8','Andres Caceres','andres.caceres@bciseguros.com','andres.caceres@bciseguros.com','123','PrejudicialInterno');
		Insert into ADMSISREC.USUARIOS ("Id","Nombres","NombreIngreso","Correo","Contrasena","Rol") values ('9','Cinthya Ramis','cinthya.ramis@bciseguros.com','cinthya.ramis@bciseguros.com','123','Supervisor');
		Insert into ADMSISREC.USUARIOS ("Id","Nombres","NombreIngreso","Correo","Contrasena","Rol") values ('10','Fabian Fuentes','fabian.fuentes@bciseguros.com','fabian.fuentes@bciseguros.com','123','Intercompania');
		

		COMMIT;

		GRANT SELECT, INSERT, UPDATE, DELETE ON "ADMSISREC"."ETAPAS" to "USRSISREC";
		GRANT SELECT, INSERT, UPDATE, DELETE ON "ADMSISREC"."ESTADOS" to "USRSISREC";
		GRANT SELECT, INSERT, UPDATE, DELETE ON "ADMSISREC"."SINIESTROS" to "USRSISREC";
		GRANT SELECT, INSERT, UPDATE, DELETE ON "ADMSISREC"."ENTRADASBITACORA" to "USRSISREC";
		GRANT SELECT, INSERT, UPDATE, DELETE ON "ADMSISREC"."ENTRADASOBSERVACION" to "USRSISREC";
		GRANT SELECT, INSERT, UPDATE, DELETE ON "ADMSISREC"."TIPOSOBSERVACION" to "USRSISREC";
		GRANT SELECT, INSERT, UPDATE, DELETE ON "ADMSISREC"."USUARIOS" to "USRSISREC";
		GRANT SELECT, INSERT, UPDATE, DELETE ON "ADMSISREC"."TRANSICIONES" to "USRSISREC";
		GRANT SELECT, INSERT, UPDATE, DELETE ON "ADMSISREC"."TIPOSBITACORA" to "USRSISREC";
		GRANT SELECT, INSERT, UPDATE, DELETE ON "ADMSISREC"."INFOPERSONAS" to "USRSISREC";
		GRANT SELECT, INSERT, UPDATE, DELETE ON "ADMSISREC"."INFOVEHICULOS" to "USRSISREC";
		GRANT SELECT, INSERT, UPDATE, DELETE ON "ADMSISREC"."SINCROS" to "USRSISREC";
		GRANT SELECT, INSERT, UPDATE, DELETE ON "ADMSISREC"."TERCEROS" to "USRSISREC";
		GRANT SELECT, INSERT, UPDATE, DELETE ON "ADMSISREC"."TERCEROVEHICULOS" to "USRSISREC";
		GRANT SELECT, INSERT, UPDATE, DELETE ON "ADMSISREC"."ARCHIVOSADJUNTOS" to "USRSISREC";
		GRANT SELECT, INSERT, UPDATE, DELETE ON "ADMSISREC"."__MigrationHistory" to "USRSISREC";

		COMMIT;  